*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


body{
    width: 100vw;
    height: 100vh;
    background-color: #222;
    color: white;
    margin: 5rem;
   
}
h1{
    margin:0 4rem;
    color: #0a2ece ;
}
.tasks{
    width: 35rem;
    min-height: 15rem;
    background: linear-gradient(to right, #107785, #2228);
    border-radius: 15px;
}
.margin{
    margin: 1rem;
    padding-left: 1rem;
}
.marginX{
    margin-left: 1rem;
}

.red{
    color: red !important;
}
    
.barrato{
    text-decoration: line-through;
}
