<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todolist</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body id="app">

    <div class="tasks">
        <input v-model="newTask.text" @keyup.enter="addTask()" type="text" placeholder="Scrivi un promemoria" class="margin" >
        <span v-show="error" class="red">Min 3 caratteri</span>
        <button @click="addTask()" class="margin" >Aggiugi task</button>
        <ul class="margin" >
            <li v-for="task,i in taskList">{{task}}
                <button @click="changeTask(i)" class="marginX" >Cambia</button>
                <button @click="removeTask(i)" class="marginX" >Rimuovi</button>
            </li>
        </ul>

    </div>





    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>